#!/bin/zsh
source /home/magnus/.zshrc
# Thanks to Pietro

# Start a new session with name 
/usr/local/bin/tmux new-session -d -s geekbook

# Start VirtualEnvironment in a new window named venv
/usr/local/bin/tmux new-window -t geekbook:1 -n 'app'

# Run server
/usr/local/bin/tmux send-keys -t geekbook:1 'python /Users/magnus/Dropbox/geekbook/geekbookapp.py -s' C-m
