/*
https://stackoverflow.com/questions/3200249/html-list-style-type-dash
*/

ul {
  margin: 0;
 line-hight: 1.42857143;
}

ul.dashed {
  list-style-type: square;
}

ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

h1 {
    font: 400 21px/1.5 Helvetica;
    font-size: 150%;
    color:#333333;
    color: #000000;
    font-weight: 800;
}

h2 {
    font-family: Helvetica;
    font-size: 130%;
    font-weight: bold;
    color: #333333;
}

h3 {
    font-family: Helvetica;
    font-size: 120%;
    font-weight: bold;
    color: #333333;
}

h4 {
    font-family: Helvetica;
    font-size: 110%;
    font-weight: bold;
    color: #333333;
}

h5 {
    font-family: Helvetica;
    font-size: 110%;
    font-weight: bold;
    color: #333333;
}

li {
    font-family: Helvetica;
    font-size: 100%;
    /* less dense */
    margin-top: 0%;
}

p  {
    text-align: justify;
    width:100%;
    margin-top: 2%;
}


.text {
    font-family: monospace;
}

li p{
    margin-left: 0px;
}

.caution {
    color:red;
    font-size: 17px;
    font-weight: bold;
}

.sidebar {
   width: 13%;
   height: 100%;
   position: fixed;
   left: 1px;
   top: 1px;
   border-radius: 3px 3px 3px 3px;
   padding-left: 25px;
}

.table_of_content_h1 {
    list-style-type: square;
    margin-left: 50px;

}
.table_of_content_h2 {
    list-style-type: none;
    margin-left: 70px;

}
.table_of_content_h3 {
    list-style-type: none;
    margin-left: 100px;
}

.table_of_content_h4 {
    list-style-type: none;
    margin-left: 120px;
}

.table_of_content_h5 {
    list-style-type: none;
    margin-left: 140px;
}

.table_of_content_h1 a, .table_of_content_h2 a, .table_of_content_h3 a, .table_of_content_h4 a, .table_of_content_h5 a{
    color: black;
    color: #355F7C;
    text-decoration: none;
    color: #333333;
}
.table_of_content_h1 a{
    /*font-size: 18px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.table_of_content_h2 a{
    font-weight: bold;
}
.table_of_content_h1, .table_of_content_h2, .table_of_content_h3, .table_of_content_h4, .table_of_content_h5 {
    color: black;
}
.nondecoration { text-decoration: none; color: #059BFF; color: #333333; }

.inputbox {
    border: 1px solid black;
    height:25px;
    width: 400px;
}

.inputtext{
    /*background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    background: -moz-linear-gradient(#F8F8F8, #E1E1E1) repeat scroll 0 0 transparent;*/
    /*border-bottom: 1px solid #CCCCCC;*/
    height: 20px;
    padding: 0 10px 0 6px;
    border-left: 5px solid #58585A;
    /*font-family:LeagueGothic,"Arial Narrow",sans-serif;*/
    font-family:"TitilliumMaps",helvetica,sans-serif;
    letter-spacing:-1px;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing:0.024em;
    color:#333333;
    font-weight:bold;

    font-family: 'Lato',sans-serif;
    font-weight: normal;
    margin-bottom: 5px;

}

/*
em {
    font-weight: bold;
    font-style: normal;
}
*/


.inputpanel{
/*    border-bottom: 1px solid #CCCCCC;    */
}
.panelwatch{
    text-align:right;
    font-size:5px;

}
.panelwatch2{
    font-size:12px;
    font-family:"TitilliumMaps",helvetica,sans-serif;

}
.highlighted_ {
    background-color: #C7F464;
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
}

.highlighted {
    background-color: #fff001;
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
}



/*
zielonkawy
yellow light #fdf9ba
*/
ul strong{
/*    background-color: #C7F464;*/
}

#tableofcontent{
    padding-bottom: 30px;
}


.figuredesc {
    margin: 0;
    padding: 3px;
    background: none repeat scroll 0 0 #333333;
    color: #EEEEEE;
    font-size: 12px;
    line-height: normal;
    overflow: hidden;
    width:100%;
}

.todobox {
    background: none;
    border: none;
    color: black;
}

.googlelink {
    text-decoration:none
}

.index_list li{
    list-style-type: none;
    margin-left: 50px;
}

.index_list_a{
    color: black;
    color: #355F7C;
    text-decoration: none;
    color: #333333;
}
a {
    color: #059BFF;
}

.abstract{
    background-color: #d8d8d8;
    padding: 10px;
    font-weight:bold;
    font: 400 18px/1.5 Helvetica;
    text-align: justify;
}

summary{
    background-color: #d8d8d8;
    padding: 10px;
    font-weight:bold;
    font: 400 18px/1.5 Georgia;
    text-align: justify;
}

big{
    background-color: #d8d8d8;
    padding: 10px;
    font-weight:bold;
    font: 400 18px/1.5 Georgia;
    text-align: justify;
}


.xtitle {
    font: 400 21px/1.5 Georgia;
    font-size: 40px;
    font-weight:bold;
    text-align:center;
}

/* printing */
/*    font-family: Georgia, ‘Times New Roman’, serif;  */
/*
p, ol, li, h1, h2, h3 {
    font-family: 'Lucida Grande'
}
p, ol, li, pre code {
    font-size: 16px;
}

body{
    width: 100%;
}
*/
/* priting end */

pre{
    word-wrap:normal;
}

/* narrow the whole note page 190410 */
.col-sm-9{ width: 60%;}

img {
    max-width: 100%;
    display: block;
    max-height: 500px;
    border-radius: 10px;
    /* center imgs http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3 */
    /*margin-left: auto;
    margin-right: auto;*/
}

.index_date {
    font-family: Monospace;
}

/*p,ul,h1,h2,h3,h4,h5,li */
hr {
    clear: both;
}

b, strong, mark, em {
}

/*
em {
    font-weight: bold;
    font-style: normal;
}
    /*background-color: #cc33ff;*/
    /* #22E4AC; */

/*blockquote p {
    font: 400 14px/1.5 Georgia;
}*/

/*
li {
  list-style-type: square;
}
*/

.nav { color: red; }
.nav>li {
     padding:0px;
     color:red;
     }
     

th {
    background-color:lightgray;
}

@media print {
    .nav {
        display: none;
    }

    body {
        width:80%;
        margin-right:0px;
        margin-left:0px;
        /* -- control size */
        /*font-size: 20em !important; */
        /* for kindle switch off for print */
        font-family: Georgia;
        font-size: 250%;

    }

    h1, h2, h3, h4, ul, li{
        font-family: Georgia;
    }
    
    .col-sm-9{ width: 90%;}

    .notes {
	    height:1000px;
	    /*background:gray
	      border: 1px solid black;*/
	   }
}

